/ai102-env
/DADOS.txt
/Desafio-Azure-OCR
/DICIONARIOS.py
/entradas.py
/escrita de arquivos.py
/except.py
/excessao personalizada.py
/finally.py
/funcoes e classes de modulos padrao.py
/import operacoes.py
/importa modulos.py
/importar modulos 2.py
/leitura de arquivos.py
/main 2.py
/main.py
/meu_modulo.py
/meu_pacote
/meu_teste.txt
/missao_ocr.py
/modulos proprios.py
/ocr_local.py
/Ola Mundo.txt
/olamundo.py
/operacoes.py
/PROVA.py
/RELATORIO.py
/resultado_ocr.txt
/Saida de dados.py
/teste.jpg
/try.py
/TUPLA.py
/Users
/utilidades.py
/__pycache__